/* Reset */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Typography */

html {
  font-family: 'Baloo Bhai', cursive;
  font-size: 30px;
}

p {
  margin: 10px 40px;
}

h1 {
  margin: 20px 0;
  font-size: 60px;
}

h2 {
  margin: 40px 20px;
  font-size: 45px;
}

.taglist li {
  margin: 0 5px;
  font-size: 20px;
}

/* Debug */
div, section, nav , footer {
  background: grey;
  border: 1px solid #fff;
}

/* Center Content */

.logo,
.header-nav a,
header .search,
.call-attention,
.article-preview,
.taglist,
.post-preview,
.smashing-members,
.new-on-tv,
.load-more,
.just-released,
.person-of-week,
.link-preview,
.featured,
.curated-post,
.newsletter,
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header */

header {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 135px;
}

.logo {
  width: 16%;
  height: 100%;
}

.header-nav {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  height: 100%;
}

.header-nav a {
  width: 100%;
  text-decoration: none;
  color: #000;
}

.search {
  width: 10%;
}

.search button {
  font-family: 'Baloo Bhai', cursive;
}

/* Latest Articles */

.latest-articles {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.call-attention {
  position: absolute;
  top: 30px;
  left: calc(50% - 100px);
  width: 200px;
  text-align: center;
  background-color: #fff;
}

.article-preview {
  align-items: flex-start;
  width: 50%;
  min-height: 600px;
  box-sizing: border-box;
}

.article-preview >* {
  margin-left: 40px;
}

.taglist {
  flex-direction: row;
}

/* Latest Posts */

.latest-posts {
  display: flex;
  flex-wrap: wrap;
}

.post-preview,
.smashing-members,
.new-on-tv {
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

.post-preview {
  justify-content: flex-start;
  align-items: flex-start;
  width: 33%;
}

.post-preview >* {
  margin-left: 40px;
}

.smashing-members {
  width: 66%;
}

.smashing-members >* {
  width: 50%;
  text-align: center;
}

.new-on-tv {
  width: 100%;
}

.new-on-tv >* {
  width: 80%;
  text-align: center;
}

.load-more {
  width: 100%;
  min-height: 180px;
}

.load-more a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 20px;
  color: #000;
  border-bottom: 5px solid #cc0000;
}

/* Just Released */

.just-released {
  justify-content: space-around;
  align-items: center;
  min-height: 980px;
}

.just-released >* {
  width: 60%;
  text-align: center;
}

.book-cover {
  width: 300px;
  height: 500px;
  background-color: #404040;
}

/* Community Links */

.community-links {
  display:  flex;
  flex-wrap: wrap;
}

.person-of-week {
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 320px;
}

.person-of-week >* {
  margin-left: 200px;
}

.link-preview {
  justify-content: stretch;
  align-items: flex-start;
  width: 50%;
  min-height: 450px;
  box-sizing: border-box;
}

.link-preview >* {
  margin-left: 100px;
  width: 60%;
}

/* Featured */

.featured {
  align-items: flex-start;
  width: 100%;
  min-height: 400px;
}

.featured >* {
  margin-left: 40px;
  margin-right: 500px;
  text-align: left;

}

/* Curated Posts */

.curated-posts {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.curated-post {
  justify-content: stretch;
  box-sizing: border-box;
  width: 25%;
  min-height: 780px;
}

.curated-post >* li {
  margin: 30px 0;
}

.newsletter {
  justify-content: space-around;
  margin: 0 auto;
  width: 90%;
  min-height: 1000px;
}

.newsletter >* {
  width: 35%;
  text-align: center;
}
.newsletter button {
  width: auto;
  font-family: "Baloo Bhai", cursive;
}

/* Footer */

footer {
  justify-content: flex-start;
  width: 100%;
  height: 700px;
}

footer >* {
  width: 70%;
  margin: 50px 0;
  text-align: center;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: none;
}

.footer-nav a {
  margin: 10px;
  text-decoration: none;
  color: #000;
}
